<template>
  <hero :data="heroData" />

<div class="container">
  <div class="block">
  </div>
    <div class="content is-small">
    <h1>A Domicile</h1>
    <p>
      À domicile, le club évolue habituellement tout en blanc, ce qui lui vaut le surnom de los Blancos (« les blancs »). Le club évolue depuis 1947 au Stade Santiago Bernabéu, situé dans le centre de Madrid, dont la capacité est de 81 044 places depuis sa dernière rénovation en 2006.
    </p>
    <h2>Les rivalités</h2>
    <p>
      Le Real Madrid entretient des rivalités de longue date avec certains clubs, notamment le FC Barcelone (la confrontation entre les deux clubs, surnommée El Clásico, est l'une des plus célèbres de l'histoire du football) et avec l'autre grand club de la capitale espagnole l'Atlético de Madrid dans le derby madrilène.
    </p>
    <p>
      <strong>Derniers résultats du Real Madrid : </strong>
    </p>
  </div>
  <br>
  <div class="notification is-link">
    <button class="delete"></button>
      Une bonne série de Victoires !
      Le RM est actuellement sur <strong>4 victoires d'affilées</strong> peut de clubs font aussi bien actuellement dans les grands championnats.
  </div>
  
  <div class="columns">
  <div class="column">
    RM 1 - 0 ATALANTA
  </div>
  <div class="column">
    RM 1 - 0 VALLADOLID
  </div>
  <div class="column">
    RM 2 - 0 VALENCE
  </div>
  <div class="column">
    RM 2 - 0 GETAFE
  </div>
</div>
  <figure class="image is-624x416">
  <img src="https://www.lequipe.fr/_medias/img-photo-jpg/casemiro-un-pilier-du-real-madrid-cette-saison-j-medina-reuters/1500000001452979/0:0,1998:1332-624-416-75/7ac3e.jpg">
  </figure>
</div>
</template>

<script>
import Hero from '../components/Hero.vue'
export default {
  methods: {
  },
  name: 'About',
  components: {
    Hero
  },
  data () {
    return {
      heroData: {
        color: "success",
        size: "small",
        title: "Informations supplémentaires"
      }
    }
  }
}
</script>

<style>
</style>