<template>
  <div>
    <hero :data="heroData" />

    <section class="p-6">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">One</p>
            <p class="subtitle">Subtitle</p>
            <router-link to="/blog/one" class="button is-primary">Voir l'article</router-link>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Two</p>
            <p class="subtitle">Subtitle</p>
            <router-link to="/blog/two" class="button is-primary">Voir l'article</router-link>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Three</p>
            <p class="subtitle">Subtitle</p>
            <router-link to="/blog/three" class="button is-primary">Voir l'article</router-link>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Four</p>
            <p class="subtitle">Subtitle</p>
            <router-link to="/blog/four" class="button is-primary">Voir l'article</router-link>
          </article>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Hero from '../components/Hero.vue'
export default {
  name: 'Blog',
  components: {
    Hero
  },
  data () {
    return {
      heroData: {
        color: "danger",
        size: "medium",
        title: "Bienvenue sur la page blog",
        subtitle: "Retrouvez tous mes articles web"
      }
    }
  }
}
</script>

<style>
</style>
