<template>
  <hero :data="heroData" />

<div class="container">
  <div class="block">
  </div>
    <div class="content is-small">
    <h1>En bref...</h1>
    <p>
      Le Real Madrid Club de Fútbol, plus connu sous le nom de Real Madrid ou simplement Real, est un club professionnel espagnol de football, basé à Madrid. Vainqueur de très nombreux titres nationaux et internationaux, il a reçu de la Fédération internationale de football association (FIFA) le titre honorifique de plus grand club du xxe siècle.
    </p>
    <h2>Sa création...</h2>
    <p>
      Fondé en 1902 par Julián Palacios et les frères Juan et Carlos Padrós, le Madrid Football Club se voit adjoindre en 1920 le titre Real (signifiant « royal » en espagnol) par le roi Alphonse XIII et son nom est hispanisé en 1941 pour devenir Real Madrid Club de Fútbol. Le Real Madrid s'impose au sommet du football européen au milieu des années 1950, sous la présidence de Santiago Bernabéu, en remportant notamment les cinq premières éditions de la Coupe d'Europe des clubs champions.
    </p>
    <p>
      Voici les surnoms actuels du Real Madrid : 
    </p>
    <ul>
      <li>Los Blancos</li>
      <li>Los Merengues</li>
      <li>Los Galacticos</li>
    </ul>
  </div>
  <br>
  <figure class="image is-642x382">
  <img src="https://assets-fr.imgfoot.com/media/cache/642x382/real-madrid-joie-6036cfe8e19cf.jpg">
  </figure>

  <br />

  <div class="content is-small">
    <h1>Qui "détient" le Real Madrid ?</h1>
    <p>
      Contrairement à la plupart des clubs européens, le Real Madrid est la propriété collective de ses socios (ses sociétaires), qui le gèrent depuis sa création. Pourtant, le club est un de ceux qui génèrent le plus de revenus au monde.
    </p>
    <h2>1897, les débuts</h2>
    <p>
      En 1897, un groupe de jeunes de l'Institución Libre de Enseñanza, issus majoritairement des universités d'Oxford et de Cambridge, fonde le premier club exclusif de football de Madrid, le (Societè) Sky Football. Trois ans plus tard, des divergences dans le club ont donné lieu à une défection d'où le club est né et a adopté le nom de Madrid Foot-Ball Club en 1901. Ensuite le Sky Football se rebaptisé New Foot-Ball Club.
    </p>
  </div>

  <br />
</div>
</template>

<script>
import Hero from '../components/Hero.vue'
export default {
  methods: {
  },
  name: 'Home',
  components: {
    Hero
  },
  data () {
    return {
      heroData: {
        color: "link",
        size: "small",
        title: "Présentation du Real Madrid"
      }
    }
  }
}
</script>

<style>
</style>
