<template>
  <hero :data="heroData" />

<section class="container">
  <br />
      <div class="columns features">
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Real_Madrid_%281966%29.jpg/440px-Real_Madrid_%281966%29.jpg" alt="Placeholder image" class="modal-button" data-target="modal-image2">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Le Real dans sa splandeur</h4>
                <p>Le départ ou la retraite de ces grands joueurs internationaux au début des années 1960 lance l'ère des « Yé-yé » au Real Madrid. Ce surnom provient de la chanson des Beatles She loves you après que plusieurs joueurs de l'équipe avaient posé pour le journal Marca, vêtus de perruques tels les Beatles. Au Real Madrid, il désigne l'équipe entièrement composée de joueurs espagnols que le Real Madrid affichait durant les années 1960.</p>
                <span class="button is-link modal-button" data-target="modal-image2">Bouton inutile lol</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Halve_finale_Europacup_I_Ajax_tegen_Real_1-0%2C_elftal_Real_Madrid%2C_Bestanddeelnr_926-3706.jpg/440px-Halve_finale_Europacup_I_Ajax_tegen_Real_1-0%2C_elftal_Real_Madrid%2C_Bestanddeelnr_926-3706.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>La fin de l'ère Bernabeu</h4>
                <p>
                  Les années 1970 sont également excellentes au niveau national, puisque le Real Madrid conquiert la Liga cinq nouvelles fois, ainsi que la Coupe nationale à trois reprises — que ce soit encore sous la direction de Miguel Muñoz, qui quitte le Real en 1974 après seize saisons sur le banc, le Yougoslave Miljan Miljanić puis Luis Molowny, grand joueur du Real du début des années 1950.
                </p>
                <span class="button is-link modal-button" data-target="modal-card">Bouton inutile lol</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4 modal-button" data-target="modal-image">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Halve_finale_Europacup_I_Ajax_tegen_Real_1-0%2C_elftal_Real_Madrid%2C_Bestanddeelnr_926-3706.jpg/440px-Halve_finale_Europacup_I_Ajax_tegen_Real_1-0%2C_elftal_Real_Madrid%2C_Bestanddeelnr_926-3706.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>La Quinta Del Butre</h4>
                <p>
                  Le bras droit de Santiago Bernabéu Raimundo Saporta déclinant l'offre de prendre sa suite, Luis de Carlos est élu président. L'équipe madrilène poursuit d'abord ses succès. Le Yougoslave Vujadin Boškov, nommé en 1979 à la tête d'une équipe « espagnole » seulement renforcée par l'Allemand Uli Stielike et l'Anglais Laurie Cunningham, recruté pour un montant record, bâtit une équipe de contre-attaque.
                </p>
                <span class="button is-link modal-button" data-target="modal-image">Bouton initule lol</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4 modal-button" data-target="modal-card">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Halve_finale_Europacup_I_Ajax_tegen_Real_1-0%2C_elftal_Real_Madrid%2C_Bestanddeelnr_926-3706.jpg/440px-Halve_finale_Europacup_I_Ajax_tegen_Real_1-0%2C_elftal_Real_Madrid%2C_Bestanddeelnr_926-3706.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Retour au sommet</h4>
                <p>
                  Avec la fin de la Quinta del Buitre, le Real Madrid connaît une période de disette. L'équipe madrilène est dominée par la spectaculaire « Dream Team » que Johan Cruyff a construit au FC Barcelone, qui remporte le championnat quatre fois consécutivement entre 1991 et 1994, ainsi que la Coupe des coupes en 1989 et la Coupe des clubs champions en 1992. Le Real ne peut, durant cette période, que s'imposer une fois en Coupe d'Espagne en 1993 et atteindre une demi-finale de la Coupe de l'UEFA en 1992 au niveau européen
                </p>
                <span class="button is-link modal-button">Bouton encore inutile</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
import Hero from '../components/Hero.vue'
export default {
  methods: {
  },
  name: 'About',
  components: {
    Hero
  },
  data () {
    return {
      heroData: {
        color: "warning",
        size: "small",
        title: "Quelques moments clés"
      }
    }
  }
}
</script>

<style>
</style>